#notFound {
    background-color: #141414;
    height: 100vh;
    margin-top: -10%;
    h1 {
        margin: 0 0 10%;
        text-align: center;
        color: white;
        font-family: $heading-text;
        font-size: 6.8vw;
        padding-top: 15%;
    }
    img {
        width: 40%;
        display: flex;
        margin: 0 auto 10%;
    }

    h2 {
        font-family: $paragraph-text;
        color: white;
        font-size: 5.4vw;
        text-align: center;
        margin: 5% auto;
        width: 79%;
        line-height: 6.4vw;

        a {
            color: white;
            text-decoration: none;
            border-bottom: solid 2px white;
        }
    }
}