#contact {
    background-color: #141414;
    h1 {
        color: white;
        font-family: $heading-text;
        font-size: 6.4vw;
        text-align: center;
        padding: 13% 0 10%;
    }

    div {
        form {
            display: flex;
            flex-direction: column;
        }
            input {
                text-align: left;
                width: 80%;
                display: flex;
                margin: 3% auto;
                font-size: 3.5vw;
                padding: 2.5% 2% 2.5%;
                border: none;
                background-color: #222222;
                color: white;
                outline: none;
                font-family: $paragraph-text;
                transition: all 0.3s ease;
                &::placeholder, &::-webkit-input-placeholder {
                    font-family: $heading-text;
                    font-weight: 900;
                    text-transform: uppercase;
                    color: #868686;
                    opacity: 1;
                }
                &:focus {
                    background-color: white;
                    color: #222;
                }
            }
            textarea {
                width: 80%;
                padding: 2%;
                display: flex;
                margin: 3% auto 0;
                font-size: 3.5vw;
                height: 35vw;
                border: none;
                background-color: #222222;
                color: white;
                font-family: $paragraph-text;
                outline: none;
                transition: all 0.3s ease;
                &::placeholder, &::-webkit-input-placeholder {
                    font-family: $heading-text;
                    font-weight: 900;
                    text-transform: uppercase;
                    color: #868686;
                    opacity: 1;
                }
                &:focus {
                    background-color: white;
                    color: #222;
                }
        }

        button {
            margin: 9% auto;
            width: 45%;
            background: linear-gradient(to left, #222222 50%, white 50%);
            background-size: 200% 100%;
            background-position:right bottom;
            transition: all 0.3s ease;
            padding: 3% 0 3.5%;
            color: white;
            font-family: $heading-text;
            font-size: 4.4vw;
            font-weight: 900;
            text-transform: uppercase;
            border: none;
            cursor: pointer;

            &:hover {
                background-position:left top;
                color: black;
                &::before {
                    color: black;
                }
            }
        }
    }
}

#messageSent {
    background-color: #141414;
    height: 100vh;
    margin-top: -10%;
    h1 {
        margin: 0 0 10%;
        text-align: center;
        color: white;
        font-family: $heading-text;
        font-size: 6.8vw;
        padding-top: 25%;
    }
    p {
        font-family: $paragraph-text;
        color: white;
        font-size: 5.4vw;
        text-align: center;
        margin: 2% 0;
    }
    p:nth-child(3) {
        margin-bottom: 0;
    }
    a {
        text-align: center;
        display: flex;
        justify-content: center;
        color: white;
        font-family: $heading-text;
        font-size: 5.4vw;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        margin: 10% 0;
    }
    .sentQuote {
        h2 {
            color: #868686;
            text-align: center;
            font-family: $paragraph-text;
            font-size: 5vw;
            font-style: italic;
            line-height: 7vw;
        }
    }
}