#footer {
    border-top: 1px solid white;
    padding: 5% 0;
    background-color: #141414;
    .footerIconCon {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        margin: 0 auto;
        a {
            width: 30%;
            img {
                width: 100%;
            }
        }
    }
    h2 {
        text-align: center;
        color: white; 
        font-size: 5vw;
        font-family: $paragraph-text;
        margin-top: 3%;
    }
}