.mainHeader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #141414;
    max-height: 15vw;
    overflow: hidden;
    transition: max-height 0.4s ease, padding-bottom 0.3s ease;
    z-index: 9999;
    .topNav {
        div {
            display: flex;
            justify-content: space-between;
            color: white;
            width: 85%;
            margin: 2% auto 6%;
            a:nth-child(2) {
                width: 12%;
                img {
                    margin-top: 25%;
                }
            }

            a {
                width: 18%;
                margin-top: 0.5%;
                img {
                    width: 100%;
                }
            }
        }

        ul {
            li {
                text-align: center;
                background-color: #141414;
                padding: 3% 0;
                transition: background-color 0.2s ease;
                a {
                    color: white;
                    font-family: $paragraph-text;
                    font-size: 6vw;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: color 0.2s ease;
                }
                &:hover {
                    background-color: white;
                    a {
                        color: black;
                    }
                }
            }
        }
    }
}

.navToggle {
    max-height: 64vw;
    padding-bottom: 4%;
}

h1 {
    text-transform: uppercase;
}