#work {
    min-height: 600px;
    margin-bottom: 20%;
    h1 {
        font-size: 6.4vw;
        text-align: center;
        margin: 9% 0;
    }
    .workCon {
        .project {
            width: 90%;
            margin: 9% auto;
            a.mobile {
                width: 75%;
                display: flex;
                margin: 0 auto;
            }
            a.responsive {
                width: 90%;
                display: flex;
                margin: 0 auto;
            }
            a {
                width: 100%;
                align-items: flex-start;
                img {
                    width: 100%;
                }
            }
                img {
                    width: 100%;
                    margin: 4% auto 8%;
                    display: flex;
                }
                .projTextLink {
                    h2 {
                        font-family: $heading-text;
                        font-weight: 900;
                        font-size: 6vw;
                        text-transform: uppercase;
                    }
                    p {
                        font-family: $paragraph-text;
                        font-size: 5.2vw;
                        margin: 5% 0;
                    }

                    .projLink {
                        font-family: $paragraph-text;
                        color: $bradley-blue;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 5.2vw;
                    }
                }
        }
    }

    .filterBtns {
        display: flex;
        justify-content: space-evenly;

        .underline1 {
            width: 100% !important;
        }

        .underline3 {
            width: 70% !important;
        }

        .underline {
                transition: all 0.3s ease, margin-top 0.2s ease;
                width: 41%;
                height: 10px;
                background-color: lightgray;
                display: flex;
                opacity: 1;
                margin: 5px auto 0;
                justify-content: center;
        }

        .filtText {
            font-family: $paragraph-text;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 5.6vw;
            cursor: pointer;
        }
    }
}
.underline1.highlighted {
    margin-top: 28% !important;
}

.underline3.highlighted {
    margin-top: 15% !important;
}

.highlighted {
    opacity: 1 !important;
    margin-top: 8% !important;
    margin-bottom: 5% !important;
    background-color: #141414 !important;
}

#project {
    width: 90%;
        margin: 0 auto;
    h1 {
        font-size: 6.4vw;
        text-align: center;
    }

    h2 {
        font-family: $heading-text;
        font-size: 5.8vw;
        font-weight: 900;
        text-transform: uppercase;
        margin: 7% 0 5%;
    }

    p {
        font-family: $paragraph-text;
        font-size: 5.2vw;
        line-height: 5.6vw;
        margin-bottom: 10%;
    }

    .projectTop {
        margin-top: 10%;
        img {
            width: 100%;
            display: flex;
        }

        span {
           p {
               line-height: 6.4vw;
           }
        }
    }

    .projectIntro {
        img {
            width: 100%;
        }
    }

    .projectMiddle {
        margin: 15% 0;
        img {
            width: 100%;
        }
        p {
            margin-bottom: 5%;
        }
    }

    .projectOutro {
        img {
            width: 100%;
        }
        p {
            margin-bottom: 5%;
        }
    }

    a {
        width: 35%;
        padding: 4% 0;
        font-family: $heading-text;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        background: linear-gradient(to left, #141414 50%, white 50%);
        background-size: 200% 100%;
        background-position:right bottom;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 10% auto;
        font-size: 4.8vw;
        transition: all 0.3s ease;
        border: solid 2px white;
        letter-spacing: 0.2vw;

        &:hover {
            background-position:left top;
            border: solid 2px black;
            color: black;
            &::before {
                color: black;
            }
        }

        &::before {
            content: '[←]';
            padding-right: 7%;
        }
    }
}

#projErr {
    background-color: #141414;
    height: 100vh;
    margin-top: -10%;
    h1 {
        color: white;
        text-align: center;
        font-size: 6.8vw;
        padding-top: 10%;
    }
    
    h2 {
        font-size: 6vw;
        color: white;
        font-family: $paragraph-text;
        width: 80%;
        margin: 5% auto 0;
    }

    p {
        font-family: $paragraph-text;
        font-size: 5.4vw;
        margin: 5% auto 0;
        color: white;
        width: 80%;
        line-height: 6.4vw;

        a {
            color: white;
        }
    }
}