@media screen and (min-width: 414px) {
    #contact {
        div {
            input {
                font-size: 3.6vw;
            }
            textarea {
                font-size: 3.6vw;
            }
            button {
                width: 40%;
                font-size: 3.6vw;
            }
        }
    }
}

@media screen and (min-width: 340px) {
    .flickity-viewport {
        height: 61vw !important;
    }
    #skills {
        .skillsCon {
            .gallery {
                .gallery-cell {
                    p {
                        margin-top: 9%;
                    }
                }
            }
        }
    }
}