@media screen and (min-width: 320px) {
    #work {
        .workCon {
            .project {
                a.mobile {
                    img {
                        object-fit: contain;
                        max-height: 210px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 375px) {
    #work {
        .workCon {
            .project {
                a.mobile {
                    img {
                        max-height: 245px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 340px) {
    .flickity-viewport {
        height: 61vw !important;
    }
    #skills {
        .skillsCon {
            .gallery {
                .gallery-cell {
                    p {
                        margin-top: 9%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 414px) {
    #contact {
        div {
            input {
                font-size: 3.6vw;
            }
            textarea {
                font-size: 3.6vw;
            }
            button {
                width: 40%;
                font-size: 3.6vw;
            }
        }
    }

    #work {
        .workCon {
            .project {
                a.mobile {
                    img {
                        max-height: 271px;
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 480px) {
    #work {
        .workCon {
            .project {
                a.mobile {
                    img {
                        max-height: 314px;
                    }
                }
            }
        }
    }
}

// @media screen and (min-width: 600px) {
//     .mainHeader {
//         max-height: 9vw;
//         .topNav {
//             div {
//                 margin: 0 auto 6%;
//                 a {
//                     width: 11%;
//                     margin-top: 1%;
//                 }
//                 a:nth-child(2) {
//                     width: 6%;
//                     margin-top: 1.75%;
//                 }
//             }
//             ul {
//                 li {
//                     a {
//                         font-size: 2vw;
//                     }
//                 }
//             }
//         }
//     }

//     #about {
//         h1 {
//             font-size: 4.8vw;
//         }
//         .aboutWrapper {
//             figure {
//                 width: 70%;
//             }
//             .aboutTextCon {
//                 p {
//                     font-size: 2vw;
//                     line-height: 2.3vw;
//                 }
//             }
//         }
//     }
//     #work {
//         h1 {
//             font-size: 4.8vw;
//         }
//         .filterBtns {
//             .filtText {
//                 font-size: 4.2vw;
//             }
//         }
//         .workCon {
//             .project {
//                 a.mobile {
//                     width: 40%;
//                 }
//                 a.responsive {
//                     width: 70%;
//                 }
//                 .projTextLink {
//                     h2 {
//                         font-size: 4vw;
//                     }
//                     p {
//                         font-size: 2vw;
//                     }
//                 }
//             }
//         }
//     }
//     #skills {
//         h1 {
//             font-size: 4.8vw;
//         }
//         .skillsCon {
//             h2 {
//                 font-size: 4.8vw;
//             }
//             .gallery {
//                 width: 50%;
//                 margin: 0 auto;
//             }
//         }
//     }

//     #contact {
//         h1 {
//             font-size: 4.8vw;
//         }
//         div {
//             input {
//                 width: 40%;
//                 font-size: 2vw;
//                 &::placeholder, &::-webkit-input-placeholder {
//                     font-size: 2vw;
//                 }
//             }
//             textarea {
//                 font-size: 2vw;
//                 width: 40%;
//                 &::placeholder, &::-webkit-input-placeholder {
//                     font-size: 2vw;
//                 }
//             }
//             button {
//                 width: 20%;
//                 font-size: 2vw;
//             }
//         }
//     }
    
//     #footer {
//         .footerCon {
//             .footerIconCon {
//                 width: 19%;
//             }
//             h2 {
//                 font-size: 2vw;
//             }
//         }

//     }

//     .flickity-viewport {
//         height: 27vw !important;
//     }
// }

@media screen and (min-width: 600px) {
    .mainCon {
        margin-top: 17% !important;
    }
    .mainHeader {
        max-height: 11vw;
        .topNav {
            div {
                a {
                    width: 10%;
                }
                a:nth-child(2) {
                    width: 7%;
                    margin-top: 0.5%;
                }
            }
            ul {
                margin-top: -3%;
                li {
                    padding: 2.5%;
                    a {
                        font-size: 2vw;
                    }
                }
            }
        }
    }
    .navToggle {
        max-height: 74vw !important;
        padding-bottom: 3% !important;
    }
    #about {
        width: 94%;
        margin: 0 auto 15%;
        h1 {
            text-align: left;
            font-size: 3.2vw;
            margin-left: 5%;
        }
        .aboutWrapper {
            figure {
                width: 64%;
            }
            .aboutTextCon {
                padding-top: 70%;
                h2,h3 {
                    display: block;
                    font-family: $heading-text;
                    text-transform: uppercase;
                    font-weight: 900
                }
                h2 {
                    font-size: 3.2vw;
                }
                h3 {
                    margin-top: 1.5%;
                    font-size: 2.8vw;
                    margin-bottom: 3.5%;
                }
                p {
                    font-size: 2.4vw;
                    line-height: 3vw;
                    width: 97%;
                    -ms-word-break: break-all;
                    word-break: break-all;
                    /* Non standard for WebKit */
                    word-break: break-word;
                    -webkit-hyphens: auto;
                    -moz-hyphens: auto;
                        hyphens: auto;
                }
            }
        }
    }

    #work {
        width: 94%;
        margin: 0 auto 20%;
        h1 {
            text-align: left;
            font-size: 3.2vw;
            margin-left: 5%;
        }
        .filterBtns {
            width: 50%;
            margin: 0 auto;
            justify-content: space-between;
            .filtText {
                font-size: 2.8vw;
            }
            .underline {
                width: 35%;
            }
            .underline3 {
                width: 55% !important;
            }
        }

        .workCon {
            .project {
                width: 70%;
                a {
                    margin: 0 auto;
                    display: flex;
                    align-items: flex-start;
                    img {
                        margin: 0 auto 8%;
                    }
                }

                a.mobile {
                    img {
                        max-height: 287px;
                    }
                }
                .projTextLink {
                    .projLink {
                        width: 100%;
                        font-size: 2.4vw;
                    }
                    h2 {
                        font-size: 3.2vw;
                    }
                    p {
                        font-size: 2.4vw;
                        line-height: 2.8vw;
                        margin: 4% 0;
                    }
                }
            }
        }
    }

    #skills {
        width: 94%;
        margin: 0 auto 20%;
        h1 {
            text-align: left;
            margin-left: 5%;
            font-size: 3.2vw;
        }
        .allSkillsCon {
            display: none;
        }
        .allSkillsConTab {
            margin-top: 10%;
            display: block;

            .skillsFilterBtns {
                display: flex;
                justify-content: space-evenly;
                width: 65%;
                margin: 0 auto;
                height: 4vw;
        
                .skillUnderline {
                    transition: all 0.3s ease, margin-top 0.2s ease;
                    width: 38%;
                    height: 10px;
                    background-color: lightgray;
                    display: flex;
                    opacity: 1;
                    margin: 5px auto 0;
                    justify-content: center;
                }
        
                .filtText {
                    font-family: $paragraph-text;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 2.8vw;
                    cursor: pointer;
                }
        
            }

            .skillsTabContainer {
                width: 90%;
                overflow: hidden;
                display: flex;
                margin: 0 auto;
                .skillsConTab {
                    width: 100%;
                    margin: 5% auto 0;
                    flex: 1 0 auto;
                    transition: transform 0.5s ease;
                    padding: 0 40% 0 0;
                    
                    .galleryTab {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        width: 82%;
                        margin: 0 auto;
                        div {
                            width: 30%;
                            margin-top: 5%;
                            img {
                                width: 80%;
                                margin: 0 auto;
                                display: flex;
                            }
                            p {
                                margin-top: 6%;
                                text-align: center;
                                font-family: $paragraph-text;
                                font-size: 2.2vw;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

    #contact {
        h1 {
            font-size: 3.2vw;
        }
        div {
            form {
                width: 80%;
                margin: 0 auto;
            }
            input {
                font-size: 2.4vw;
            }
            textarea {
                height: 25vw;
                font-size: 2.4vw;
            }
            button {
                margin: 6% auto 7%;
                font-size: 2.6vw;
                width: 35%;
                padding: 2% 0 2.5%;
            }
        }
    }

    #footer {
        padding: 4% 0;
        .footerCon {
            .footerIconCon {
                width: 13%;
                a {
                    width: 30%;
                }
            }
            h2 {
                font-size: 2.6vw;
            }
        }
    }

    #project {
        width: 80%;
        h2 {
            font-size: 3.2vw;
        }
        p {
            font-size: 2.6vw;
            line-height: 3.2vw;
            width: 95%;
        }
        h1 {
            font-size: 3.2vw;
            text-align: left;
        }
        .projectTop {
            margin-top: 7%;
            img.mobile {
                width: 50%;
            }
            img {
                width: 80%;
                margin: 0 auto;
            }
            h2 {
                font-size: 3.2vw;
            }
            h2:nth-child(2) {
                margin-bottom: 3%;
            }
            h2:nth-child(1) {
                margin-bottom: 1%;
            }
            span {
                p {
                    font-size: 2.4vw;
                    line-height: 3vw;
                    margin-bottom: 5%;
                }
            }
        }
        .projectMiddle {
            margin: 10% 0;
        }

        a {
            font-size: 2.6vw;
            padding: 2.5% 0 3%;
            width: 22%;
            margin: 7% 0 15%;
        }
    }

    #notFound {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 3.2vw;
            margin: -10% 0 6%;
            padding-top: 0;
        }
        img {
            width: 20%;
            margin: 0 auto 6%;
        }
        h2 {
            margin: 3% auto;
            font-size: 2.8vw;
            width: 41%;
            line-height: 3.2vw;
        }
    }

    #projErr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5%;
        h1 {
            font-size: 3.2vw;
            padding: 0;
            margin-top: 15%;
        }
        h2, p {
            font-size: 2.8vw;
            width: 60%;
        }
        p {
            line-height: 3.2vw;
        }
    }

    #messageSent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 9%;
        h1 {
            margin: -10% 0 4%;
            font-size: 3.2vw;
        }
        p {
            font-size: 2.8vw;
            margin: 0.5% 0;
        }
        a {
            font-size: 3.2vw;
            margin: 6% 0;
        }
        .sentQuote {
            h2 {
                font-size: 2.4vw;
                line-height: 4vw;
            }
        }
    }
    
}

@media screen and (min-width: 768px) {
    .mainHeader {
        max-height: 11vw;
        .topNav {
            div {
                a {
                    width: 10%;
                }
                a:nth-child(2) {
                    width: 7%;
                    margin-top: 0.5%;
                }
            }
            ul {
                margin-top: -3%;
                li {
                    padding: 2.5%;
                    a {
                        font-size: 3.6vw;
                    }
                }
            }
        }
    }
    #work {
        .workCon {
            .project {
                a.mobile {
                    img {
                        max-height: 367px;
                    }
                }
            }
        }
    }
    #projErr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 3.2vw;
            padding: 0;
            margin-top: -17%;
        }
        h2, p {
            font-size: 2.8vw;
            width: 60%;
        }
        p {
            line-height: 3.2vw;
        }
    }

    #notFound {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 3.2vw;
            margin: 0 0 6%;
            padding-top: 0;
        }
        img {
            width: 20%;
            margin: 0 auto 6%;
        }
        h2 {
            margin: 3% auto;
            font-size: 2.8vw;
            width: 41%;
            line-height: 3.2vw;
        }
    }
}

@media screen and (min-width: 834px) {
    #work {
        .workCon {
            .project {
                a.mobile {
                    img {
                        max-height: 399px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .mainHeader {
        max-height: 8vw;
        .topNav {
            div {
                a {
                    width: 9%;
                    margin-top: -0.75%;
                }
                a:nth-child(2) {
                    width: 5.5%;
                    margin-top: -0.5%;
                }
            }

            ul {
                li {
                    a {
                        font-size: 2.6vw;
                    }
                }
            }
        }
    }

    #about {
        h1 {
            font-size: 2.6vw;
        }
        .aboutWrapper {
            figure {
                width: 60%;
            }
            .aboutTextCon {
                padding-top: 65%;
                h2 {
                    font-size: 2.6vw;
                }
                h3 {
                    font-size: 2.4vw;
                }
                p {
                    font-size: 17px;
                    width: 90%;
                    hyphens: none;
                    -webkit-hyphens: none;
                    line-height: 21px;
                    margin-top: 3%;
                }
            }
        }
    }
    
    #work {
        margin-bottom: 10%;
        h1 {
            font-size: 2.6vw;
        }
        .filterBtns {
            width: 33%;
            .filtText {
                font-size: 20px;
            }
        }
        .workCon {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .project {
                width: 40%;
                margin-top: 8%;
                margin-bottom: 0;
                .projTextLink {
                    width: 97%;
                    margin: 10% auto 0;
                    h2 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 18px;
                    }
                    .projLink {
                        font-size: 16px;
                        transition: color 0.3s ease;
                        &:hover {
                            color: #5b98d4;
                        }
                    }
                }
                a.responsive {
                    align-items: flex-end;
                }

                a.mobile {
                    img {
                        max-height: 246px;
                    }
                }

                a {
                    img {
                        margin: 0 auto;
                    }
                    img.mobile {
                        max-width: 280px;
                    }
                    img.responsive {
                        max-width: 470px;
                    }
                }
                a:nth-child(1) {
                    height: 27vw;
                    max-height: 271px;
                    margin-bottom: 6%;
                    transition: transform 0.2s ease;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }

    #skills {
        h1 {
            font-size: 2.6vw;
        }
        .allSkillsConTab {
            .skillsFilterBtns {
                .filtText {
                    font-size: 2.2vw;
                }
            }
            .skillsTabContainer {
                .skillsConTab {
                    margin-top: 8%;
                    .galleryTab {
                        div {
                            img {
                                width: 70%;
                            }
                            p {
                                font-size: 1.7vw;
                            }
                        }
                        div:nth-child(n + 4) {
                            margin-top: 8%;
                        }
                    }
                }
            }
        }
    }

    #contact {
        h1 {
            font-size: 2.8vw;
            padding: 8% 0 5%;
        }
        div {
            input {
                font-size: 1.8vw;
                width: 75%;
            }
            textarea {
                font-size: 1.8vw;
                height: 23vw;
                width: 75%;
            }
            button {
                font-size: 2vw;
                width: 26%;
            }
        }
    }

    #footer {
        .footerCon {
            .footerIconCon {
                width: 11%;
            }
            h2 {
                font-size: 2vw;
            }
        }
    }

    #project {
        h1 {
            font-size: 2.6vw;
        }
        h2 {
            font-size: 2.6vw;
            margin-bottom: 3%;
        }
        p {
            font-size: 2vw;
            line-height: 2.6vw;
        }
        a {
            font-size: 2vw;
            padding: 2% 0 2.5%;
            width: 19%;
        }
        .projectTop {
            h2 {
                font-size: 2.6vw;
            }
            span {
                p {
                    font-size: 2vw;
                    line-height: 2.6vw;
                }
            }
        }
    }

    #messageSent {
        h1 {
            margin-top: -25%;
        }
        p {
            font-size: 2.2vw;
        }
        a {
            font-size: 2.2vw;
        }
        .sentQuote {
            h2 {
                font-size: 2vw;
                line-height: 2.4vw;
            }
        }
    }

    #notFound {
        h2 {
            font-size: 2.2vw;
        }
    }
}

@media screen and (min-width: 1200px) {
    .navToggle {
        max-height: 3.5vw !important;
        padding-bottom: 0 !important;
    }
    .mainCon {
        margin-top: 9% !important;
    }
    .mainHeader {
        max-height: 3.5vw;
        .topNav {
            div {
                margin: 1% auto 0;
                a {
                    width: 4%;
                    margin-top: -0.5%;
                }
                a:nth-child(2) {
                    display: none;
                }
            }
            ul {
                margin-top: -4.5%;
                display: flex;
                justify-content: flex-end;
                margin-right: 4%;
                li {
                    padding: 2.75% 1.75% 2%;
                    a {
                        font-size: 15px;
                        letter-spacing: 0.1vw;
                    }
                }
            }
        }
    }

    #about {
        width: 76%;
        margin-bottom: 10%;
        h1 {
            margin-left: 0;
            font-size: 28px;
        }
        .aboutWrapper {
            display: flex;
            margin-top: 9%;
            figure {
                margin-top: 2%;
                width: 522px;
            }
            .aboutTextCon {
                order: -1;
                width: 754px;
                margin-right: 3%;
                padding-top: 0;
                h2 {
                    font-size: 82pt;
                    margin-left: -1%;
                }
                h3 {
                    font-size: 28px;
                    margin-top: 3.5%;
                    margin-bottom: 4%;
                }
                p {
                    font-size: 16px;
                    line-height: 1.4vw;
                    width: 91%;
                    hyphens: none;
                    -webkit-hyphens: none;
                    -ms-hyphens: none;
                }
                p:nth-child(4) {
                    margin-top: 3%;
                }
            }
        }
    }
    
    #work {
        width: 76%;
        margin-bottom: 10%;
        h1 {
            margin-left: 0;
            font-size: 28px;
            margin-bottom: 7%;
        }
        .filterBtns {
            width: 33%;
            .filtText {
                font-size: 20px;
            }
        }
        .workCon {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .project {
                width: 40%;
                margin-top: 8%;
                margin-bottom: 0;
                .projTextLink {
                    width: 88%;
                    margin: 0 auto;
                    h2 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 18px;
                    }
                    .projLink {
                        font-size: 16px;
                        transition: color 0.3s ease;
                        &:hover {
                            color: #5b98d4;
                        }
                    }
                }
                a.responsive {
                    align-items: flex-end;
                }

                a.mobile {
                    max-height: 265px;
                }

                a {
                    img {
                        margin: 0 auto;
                    }
                    img.mobile {
                        max-width: 280px;
                        max-height: 250px;
                    }
                    img.responsive {
                        max-width: 470px;
                    }
                }
                a:nth-child(1) {
                    height: 20vw;
                    max-height: 271px;
                    margin-bottom: 6%;
                    transition: transform 0.2s ease;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }

    #skills {
        width: 76%;
        margin-bottom: 10%;
        h1 {
            font-size: 28px;
            margin-left: 0;
        }
        .allSkillsConTab {
            .skillsFilterBtns {
                width: 45%;
                .filtText {
                    font-size: 20px;
                }
            }
            .skillsTabContainer {
                width: 63%;
                overflow: hidden;
                display: flex;
                margin: 0 auto;
                .skillsConTab {
                    flex: 1 0 auto;
                    transition: transform 0.5s ease;
                    padding: 0 40% 0 0;
                    .galleryTab {
                        width: 100%;
                        .gallery-cell {
                            width: 26%;
                            padding: 0 0;
                            p {
                                font-size: 16px;
                                margin-top: 14%;
                            }
                        }
                        .gallery-cell:nth-child(n+4) {
                            margin-top: 8%;
                        }
                    }
                }
            }
        }
    }

    #contact {
        h1 {
            font-size: 2.2vw;
            padding: 6% 0 3%;
        }
        div {
            form {
                width: 43%;
                input {
                    font-size: 1.4vw;
                }
                textarea {
                    font-size: 1.4vw;
                    height: 15vw;
                }
                button {
                    margin: 6% 10.5% 15%;
                    font-size: 1.4vw;
                    padding: 1.5% 0 2%;
                    width: 26%;
                }
            }
        }
    }

    #footer {
        border-top-color: #535353;
        padding: 3% 0 2.5%;
        .footerCon {
            display: flex;
            width: 60%;
            margin: 0 auto;
            align-items: center;
            .footerIconCon {
                order: 1;
                width: 10%;
            }
            h2 {
                text-align: left;
                font-size: 1.4vw;
                margin-top: 0;
                flex: 1;
            }
        }
    }

    #project {
        margin: -2% auto 2%;
        width: 76%;
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 28px;
            width: 84%;
            margin: 5% auto 1.2%;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            width: 84%;
            margin: 0 auto;
        }
        .projectTop {
            margin-top: 2%;
            img {
                width: 60%;
            }
            img.mobile {
                width: 40%;
            }
            .roleToolCon {
                display: flex;
                width: 60%;
                margin: 5% auto;
                span {
                    width: 50%;
                    h2 {
                        font-size: 28px;
                        margin-top: 0;
                        margin-bottom: 6%;
                        text-align: center;
                    }
                    p {
                        width: 66%;
                        margin: 0 auto 2%;
                        line-height: 18px;
                        font-size: 16px;
                    }
                }
                span:nth-child(1) {
                    border-right: solid 2px lightgray;
                }
                span:nth-child(2) {
                    p {
                        display: flex;
                        justify-content: center;
                        line-height: 24px;
                    }
                }
            }
        }
        .projectMiddle {
            margin: 6% 0;
        }
        a {
            margin: 10% 0 7%;
            font-size: 1.2vw;
            padding: 1% 0 1.2%;
            width: 10%;
            letter-spacing: 0.05vw;
            justify-content: flex-start;
            &::before {
                padding-right: 4%;
                padding-left: 10%;
            }
        }
    }

    #notFound {
        h1 {
            font-size: 2.2vw;
        }
        img {
            width: 14%;
        }
        h2 {
            font-size: 20px;
            line-height: 26px;
            margin: 0.6% auto 2.2%;
            width: 25%;
        }
    }
    #messageSent {
        margin-top: -5.5%;
        h1 {
            margin-top: -20%;
            font-size: 2.2vw;
            margin-bottom: 6%;
        }
        p {
            font-size: 28px;
        }
        a {
            font-size: 28px;
        }
        .sentQuote {
            h2 {
                font-size: 1.4vw;
                line-height: 2vw;
            }
        }

    }

    #projErr {
        margin-top: -6%;
        h1 {
            font-size: 2.2vw;
            margin-top: -5%;
            text-align: center;
        }

        h2, p {
            font-size: 18px;
            width: 34%;
            text-align: center;
            margin: 3% auto 0;
            line-height: 26px;
        }
    }
}

@media screen and (min-width: 1400px) {
    #work {
        .workCon {
            .project {
                a {
                    img.mobile {
                        max-height: 275px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    #skills {
        .allSkillsConTab {
            .skillsTabContainer {
                .skillsConTab {
                    .galleryTab {
                        width: 74%;
                    }
                }
            }
        }
    }
    #project {
        .projectIntro, .projectMiddle, .projectOutro {
            width: 75%;
            margin: 4% auto;
        }
        .projectTop {
            img.mobile {
                width: 35%;
            }
            img.responsive {
                width: 50%;
            }
        }

        a {
            width: 7.5%;
            font-size: 16px;
            &::before {
                padding-right: 6%;
            }
        }
    }
    #contact {
        h1 {
            font-size: 28px;
        }
        div {
            form {
                width: 40%;
                input {
                    font-size: 16px;
                    padding: 1.5% 2% 2.25%;
                }
                textarea {
                    font-size: 16px;
                    height: 12vw;
                    padding: 1.5% 2%;
                }
                button {
                    font-size: 16px;
                    width: 22%;
                }
            }
        }
    }

    #footer {
        .footerCon {
            h2 {
                font-size: 16px;
            }
            .footerIconCon {
                width: 6%;
                a {
                    width: 36%;
                }
            }
        }
    }

    #notFound {
        img {
            width: 10%;
            margin-bottom: 2%;
        }
        h2 {
            width: 18%;
            margin-bottom: 1.5%;
        }
    }

    #messageSent {
        margin-top: -5.5%;
        h1 {
            margin-top: -30%;
            font-size: 2vw;
        }
        p {
            font-size: 20px;
            margin: 0.4% 0;
        }
        a {
            font-size: 22px;
        }
        .sentQuote {
            margin-top: 2%;
            h2 {
                font-size: 22px;
                line-height: 1.6vw;
            }
        }
    }
    #projErr {
        p {
            width: 26%;
        }
    }
}

@media screen and (min-width: 1750px) {
    #about {
        h1 {
            margin-left: 1vw;
        }
        .aboutWrapper {
            .aboutTextCon {
                margin-top: 3%;
            }
        }
    }
    #work {
        h1 {
            margin-left: 1vw;
        }
    }
    #skills {
        h1 {
            margin-left: 1vw;
        }
    }
}

@media screen and (min-width: 1850px) {
    #about {
        h1 {
            margin-left: 1.6vw;
        }
    }
    #work {
        h1 {
            margin-left: 1.6vw;
        }
    }
    #skills {
        h1 {
            margin-left: 1.6vw;
        }
    }
}

@media screen and (min-width: 1900px) {
    #about {
        h1 {
            margin-left: 2.25vw;
        }
    }
    #work {
        h1 {
            margin-left: 2.25vw;
        }
    }
    #skills {
        h1 {
            margin-left: 2.25vw;
        }
    }
}

/* 
    TODO: h1 max size + about subheading - 28px
    about paragraph line height - 1.1vw
    abouttextcontent - margin-top 3%
    filtText, skillfilttext - fontsize 20px
    project a - height 14vw
    gallery-cell - width 22%; padding 0 2%
*/